<% include ../partials/header%>

<%=status%>
<div class="container">
	<h1>Input Employee</h1>
	<form>
		<div class="file-field input-field">
			<div class="btn" onclick="">
				<span><i class="material-icons text-white">photo</i> Photo</span>
				<input type="file">
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text">
			</div>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Nama Lengkap</label>
			<input type="text" class="form-control" id="exampleInputPassword1" placeholder="John Smith" required>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword19">Tempat/Tanggal lahir</label>
			<input type="text" class="form-control" id="exampleInputPassword19" placeholder="Medan" required>
			<input type="date" class="form-control" >
		</div>
		<div class="form-group">
			<label for="exampleInputPassword2">Alamat</label>
			<input type="text" class="form-control" id="exampleInputPassword2" placeholder="Alamat" required>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword6">Jenis Kelamin : </label>
			<input name="gender" id="gender-0" value="male" checked="checked" type="radio"> Pria
			<input name="gender" id="gender-0" value="female" type="radio"> Wanita
		</div>
		<div class="form-group">
			<label for="exampleInputPassword3">No Induk KTP (NIK)</label>
			<input type="text" class="form-control" id="exampleInputPassword3" placeholder="No KTP" required>
		</div>
		<div class="form-group">
			<label for="exampleInputKTP">Scan KTP</label>
			<input type="file" class="form-control" id="exampleInputKTP" required>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword4">Tanggal Mulai Bekerja</label>
			<input type="date" class="form-control" id="exampleInputPassword4" >
		</div>
		<div class="form-group">
			<label for="exampleInputPassword5">Tanggal Berhenti Bekerja (belum jelas)</label>
			<br><input type="checkbox" name="" onclick="document.getElementById('exampleInputPassword5').disabled=this.checked;"> Masih bekerja
			<input type="date" class="form-control" id="exampleInputPassword5">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword11">Agama </label><br>
			<select class="form-control" id="agama" name="agama">
				<option value="protestan">Kristen Protestan</option>
				<option value="katolik">Kristen Katolik</option>
				<option value="buddha">Buddha</option>
				<option value="Islam">Islam</option>
				<option value="hindu">Hindu</option>
				<option value="konghucu">Kong Hu Cu</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword12">No HP : </label>
			<input type="text" class="form-control" id="exampleInputPassword12" placeholder="08576214xxxx" required="">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword8">No Telepon Rumah (optional)</label>
			<input type="text" class="form-control" id="exampleInputPassword8" placeholder="061463xxxx">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword9">Email Pribadi</label>
			<input type="email" class="form-control" id="exampleInputPassword9" placeholder="Someone@gmail.com" required>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword10">Email UPH</label>
			<input type="email" class="form-control" id="exampleInputPassword10" placeholder="Someone@uph.edu" required>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword10">Shift Kerja</label>
			<select class="form-control" id="exampleFormControlSelect1" name="shift">
				<option value="pagi">Pagi</option>
				<option value="tanggung">Tanggung/Middle</option>
				<option value="siang">Siang</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword11">Riwayat Pendidikan : </label><br>
			<select class="form-control" id="pendidikan" name="pendidikan">
				<option value="smp">SMP</option>
				<option value="sma">SMA</option>
				<option value="s1">S1</option>
				<option value="s2">S12</option>
				<option value="s3">S3</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword13">Tanggal Masuk </label>
			<input type="date" class="form-control" id="exampleInputPassword13" >
		</div>
		<div class="form-group">
			<label for="exampleInputPassword14">Tanggal Keluar </label>
			<input type="date" class="form-control" id="exampleInputPassword14" >
		</div>
		<div class="form-group">
			<label for="exampleInputPassword11">Department (belum jelas) : </label><br>
			<select class="form-control" id="exampleFormControlSelect12" name="department">
				<option value="smp">Ekonomi</option>
				<option value="sma">SMA</option>
				<option value="s1">S1</option>
				<option value="s2">S12</option>
				<option value="s3">S3</option>
			</select>
		</div>
		<!-- DOSEN -->
		<%if(status=='dosenTetap' || status == 'dosenTidakTetap' || status == 'karyawanTetapAkademik' || status == 'karyawanTetapNonAkademik') {%>
		<div class="form-group">
			<label for="exampleInputPassword15">NIDN</label>
			<input type="text" class="form-control" id="exampleInputPassword15" required>
		</div>
		<div class="form-group">
			<label for="fakultas">Fakultas : </label><br>
			<select class="form-control" id="fakultas" name="fakultas">
				<option value="ekonomi">Ekonomi</option>
				<option value="hukum">Hukum</option>
				<option value="komputer">Komputer</option>
			</select>
		</div>
		<div class="form-group">
			<label for="prodi">Program Studi : </label><br>
			<select class="form-control" id="prodi" name="prodi">
				<option value="management">Management</option>
				<option value="accounting">Accounting</option>
				<option value="hospitality">Hospitality</option>
				<option value="informationSystem">Information System</option>
				<option value="informationTechnology">Information Technology</option>
				<option value="law">Law</option>
			</select>
		</div>
		<!-- pendidikan -->
		<div> 
			<div class="form-group">
				<label for="exampleInputPassword11">Riwayat Pendidikan : </label><br>
				<select class="form-control" id="pendidikan" name="pendidikan">
					<option value="s1">S1</option>
					<option value="s2">S12</option>
					<option value="s3">S3</option>
				</select>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword16">Gelar Akademis</label>
				<input type="text" class="form-control" id="exampleInputPassword16" required>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword17">Asal Institusi</label>
				<input type="text" class="form-control" id="exampleInputPassword17" required>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword18">Bidang Ilmu</label>
				<input type="text" class="form-control" id="exampleInputPassword18" required>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword18">Tahun Masuk - Tahun Selesai</label>
				<input type="text" class="form-control" id="exampleInputPassword18" required>
			</div>
			<div class="form-group">
				<label for="exampleInputIjazah">Unggah Ijazah</label>
				<input type="file" class="form-control" id="exampleInputIjazah" required>
			</div>
		</div>
		<div class="form-group">
			<label for="exampleInputIjazah">Sertifikasi Dosen</label>
			<input type="file" class="form-control" id="exampleInputIjazah" required>
		</div>
		<div class="form-group">
			<label for="jabatanAkademik">Jenjang Jabatan Akademik : </label><br>
			<select class="form-control" id="jabatanAkademik" name="jabatanAkademik">
				<option value="belum">Belum Memiliki</option>
				<option value="assistenAhli">Assisten Ahli</option>
				<option value="lektor">Lektor</option>
				<option value="lektorKepala">Lektor Kepala</option>
				<option value="professor">Professor</option>
			</select>
		</div>
		<!-- untuk sertifikasi dosen -->
		<div>
			<div class="form-group">
				<label for="exampleInputPassword21">Penyelenggara : </label>
				<input type="text" class="form-control" id="exampleInputPassword21" required>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword21">Tahun Kadarluarsa : </label>
				<input type="text" class="form-control" id="exampleInputPassword21" required>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword21">URL: </label>
				<input type="text" class="form-control" id="exampleInputPassword22" required>
			</div>
			<div class="form-group">
				<label for="exampleInputSerifikatDosen">Unggah Sertifikasi Dosen</label>
				<input type="file" class="form-control" id="exampleInputSerifikatDosen" required>
			</div>
		</div>
		<%}%>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
<% include ../partials/footer%>
